<html>
    <head>
        <title>Django Girls Tutorial blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Tutorial Blog</a></h1>

		</div>
                
        <div class='container'>
           	<h2>Blog Posts</h2>
        	{% for post in posts %}
    			<div>
			        <h1><a href="">{{ post.title }}</a></h1>
			        <p><em>published: {{ post.published_date }}</em></p>
			        <p>{{ post.text|linebreaksbr }}</p>
			        <hr>
    			</div>
			{% endfor %}

        </div>
    </body>
</html>